<div class="lc-card">
  <a class="link-overlay" href="https://learningcircles.p2pu.org/en/signup/cafe-coffee-day-or-public-garden-54/" target="blank"></a>
  <img src="https://learningcircles.p2pu.org/static/images/learning-circle-default.jpg" alt="Image of the Learning Circle location" height="143" width="286">
  <div class="title-container"><h1>Marketing in a Digital World</h1></div>
  <div class="body-container">
    <p class="facilitatorX">Facilitator: <span class="extrabold">murtaza kanorwala</span></p>
    <p class="lc-venueX"><span class="extrabold lc-card-teal"><i class="fa fa-map-marker"></i> Cafe coffee day or Public Garden</span><br>
    Salunkhe vihar, Pune, Maharashtra, India</p>
    <p class="lc-daysX"><span class="extrabold">Thursdays</span>, 3 PM - 4:35 PM, Asia/Dili</p>
    <p class="lc-startX"><span class="extrabold">3 weeks</span> beginning <span class="extrabold">17 March 2016</span></p>
  </div>
</div>
